@import "tailwindcss";

button{
    cursor: pointer;
}


::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #f3f4f6;
}

::-webkit-scrollbar-thumb {
    background: #bdbdbd;
    border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
}